*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #7d7d7d, #f5f5f5);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    background-color: #f3f3f3;
}

.calculator > button:hover {
    background-color: #c7c7c7;
}

.span-two {
    grid-column: span 2;
}

.output {
    border: 1px solid #000;
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 2.5rem;
}

.btn--clear {
    color: #f0595f;
}

.btn--del {
    color: #b1686a;
}

#equalsBtn {
    background-color: #a8c7d0;
}

#equalsBtn:hover {
    background-color: #85a4b2;
}